<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html"/>

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>About Luci</title>
</head>

<body>
  <div class="sectionblock about">
    <h2>Legal</h2>
    <a href="http://www.sourceware.org/cluster/conga">luci</a> is Copyright <acronym title="Copyright">&copy;</acronym> 2006&#8211;2011 <a href="http://www.redhat.com/">Red Hat, Inc.</a>
    <p>Distributed under the <a href="http://creativecommons.org/licenses/GPL/2.0/">GNU GPL v2 license</a>.</p>
  </div>
</body>
</html>
